version: 2
jobs:
  build:
    docker:
      - image: debian:stretch
    steps:
      - checkout
      - run:
          name: Installing dependencies
          command: ./install_deps_debian.sh
      - run:
          name: Building
          command: ./build_ffmpeg.sh
